{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<h2 class="block-title">Registration</h2>
{% if form.non_field_errors %}
    <div class="error-message">
        {% for error in form.non_field_errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </div>
{% endif %}

<form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
            <div class="error-message">
                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row ask_question">
            <div class="col-2" style="margin-right: 10px">
                <label class="form-label">{{ field.label }}</label>
            </div>
            {{ field }}
        </div>
    {% endfor %}

    <input class="btn btn-outline-dark" style="margin-left: 230px; width: 90px" type="submit" value="Register">

</form>

<div class="row">
    <a href="{% url 'login' %}" style="margin-left: 145px; margin-top: 10px">Already have an account?</a>
</div>
{% endblock %}